@at-root {
     @-ms-viewport{
        width: device-width;
    }
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

iframe {
    border: 0;
}

main {
	overflow: hidden;
}
