#prometheus {
    position: relative;

    @include media-breakpoint-up(lg) {
        min-height: 900px;
        background-position: center 70%;
    }

    .container {
        display: flex;
        align-items: center;
        position: relative;

        @include media-breakpoint-up(xl) {
            height: 50vh;
            max-width: 1200px;
        }
        @include media-breakpoint-down(md) {
            .col, [class*="col-"] {
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center;
            }
        }
    }

    .illustrations {
        position: static;

        span { position: absolute;
            left: calc(50% - 30px); top: -15%;
            animation: laptop 5s ease-in-out infinite both alternate;
            @keyframes laptop {
                0%,100% {transform: none}
                    50% {transform: translateY(15px) rotateY(10deg)}
            }

            @include media-breakpoint-down(md) {display:none}
        }
    }

    .bg-animated {
        z-index: -1;
        text-align: center;
        overflow: hidden;
        top:0; right:0; bottom:0; left:0;
        background-color: $white;
        // background: $white url("/img/section-prometheus-bg.png") center no-repeat;

        &, .circle, span {
            display: block;
            position: absolute;
        }

        .circle {
            &, span { border-radius: 50%;
                border: $border-width solid rgba($gray-200,0.5);
            }
            span { top: -40px;
                left: calc(50% - 40px);
                line-height: 80px;
                width: 80px; height: 80px;
                background-color: $white;
                box-shadow: 0 0 20px rgba($gray-600,0.15);
            }
            animation: rotate 8s linear infinite both;
            // left: 50%; top: 50%; transform: translate(-50%, -50%);
        }
        .circle-1 {width:  90px; height:  90px; left: calc(50% -  45px); top: calc(50% -  45px);animation: rotate 16s linear infinite alternate-reverse;}
        .circle-2 {width: 300px; height: 300px; left: calc(50% - 150px); top: calc(50% - 150px);animation: rotate 16s ease-in infinite;}
        .circle-3 {width: 578px; height: 578px; left: calc(50% - 289px); top: calc(50% - 289px);animation: rotate 25s linear infinite alternate-reverse;}
        .circle-4 {width:1000px; height:1000px; left: calc(50% - 500px); top: calc(50% - 500px);animation: rotate 30s ease-in-out infinite;}
        .circle-5 {width:1500px; height:1500px; left: calc(50% - 750px); top: calc(50% - 750px);animation: rotate 35s linear infinite alternate-reverse;}

        @keyframes rotate {
              0% {transform: none}
            100% {transform: rotateZ(360deg)}
        }
    }
}

#prometheusFeatures {
    text-align: center;
    @include media-breakpoint-up(lg) {
        min-height: 80vh;
    }

    .heading {
        margin: 2rem auto 1.5rem;
    }

    p {padding: 0 ($grid-gutter-width / 3)}

    @include media-breakpoint-down(sm) {
        .col, [class*="col-"] {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .sprite-image {
        position: relative;
        display: inline-block;
        width: 180px; height: 180px;
        @include gradient-radial(rgba($black, 0.5) 0%, rgba($black, 0) 55%);
        background-position: center;

        svg {position:absolute}

        &.image-security, &.image-monitor, &.image-control {}

        &.image-security {
            .icon-image  {left:53px; top:77px; z-index:3}
            .icon-base-1 {left:8px; top:27px;  z-index:1; animation: wave 8s ease-in-out infinite both;}
            .icon-base-2 {left:12px; top:14px; z-index:2; animation: wave 7s ease infinite both alternate;}
        }
        &.image-monitor {
            .icon-image  {left:49px; top:52px; z-index:3}
            .icon-base-1 {left:6px; top:24px;  z-index:1; animation: wave 10s ease-in-out infinite both alternate;}
            .icon-base-2 {left:16px; top:24px; z-index:2; animation: wave 9s ease infinite both;}
        }
        &.image-control {
            .icon-image  {left:53px; top:58px; z-index:3}
            .icon-base-1 {left:8px; top:23px;  z-index:1; animation: wave 9s ease-in-out infinite both;}
            .icon-base-2 {left:18px; top:23px; z-index:2; animation: wave 8s ease infinite both alternate;}
        }

        @keyframes wave {
            0%,100% {transform: none}
                50% {transform: translateY(8px) rotateY(10deg) rotateZ(-10deg)}
        }
    }
}
