
// VENDOR (HEADROOM)

// - HELPER Class:
// .headroom.headroom--top.headroom--not-bottom.headroom--pinned     (default)
// .headroom.headroom--not-top.headroom--bottom.headroom--unpinned   (scrolled-down hidden)
// .headroom.headroom--not-top.headroom--not-bottom.headroom--pinned (scrolled-up show)

.headroom {
    will-change: transform;
    transition: $transition-base;
    background-color: inherit;
}

.headroom--not-top {
    background-color: rgba($header-fix-bg, 0.98);
    box-shadow: 0 1px 10px rgba(130, 130, 134, 0.1);
}

.headroom--pinned {
    @extend .position-fixed;
    transform: translateY(0%);
}
.headroom--unpinned {
    @extend .position-fixed;
    transform: translateY(-100%);
}


//
// Header
// ----------------------------------------------

.header-global {

    .navbar-toggler-icon {
        background-image: $navbar-dark-toggler-icon-bg;
    }

    // DESKTOP VIEW
    @include media-breakpoint-up(lg) {
        .img-flag {left: 25px;
            position: absolute;
        }
        .language {
            .nav-link {padding-left: 50px}
            .dropdown-item {padding-left: 40px;
                .img-flag {left: 15px; margin: 0}
            }
        }
        .navbar {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

// HEADROOM STYLES
@include media-breakpoint-up(lg) {

    .headroom--top {
        .nav-link {
            line-height: 1;
            padding-top: $navbar-nav-link-padding-y * 1.75;
        }
        .btn {margin-top: .75rem}
        .navbar-brand {padding-top: .75rem}

        @include media-breakpoint-up(lg) {
            .language .img-flag {margin-top: -2px;}
        }
    }

    .headroom--not-top {
        .navbar-brand img {height: ($header-brand-height - 0.5)}
        .nav-item {padding-bottom: $spacer / 2}
        .btn {margin-top:.5rem}
    }
}

.headroom--not-top {
    &.headroom--pinned .navbar-brand {
        img {opacity:0}

        &:after { content: '';
            position: absolute;
            top:0; right:0; bottom:0; left:0;
            background: transparent $navbar-brand-lt-path center no-repeat;
            background-size: 100% auto;
        }
    }
}
