// BANNER
// --
.section-hero {
    z-index: 1;
    position: relative;

    @include media-breakpoint-down(md) {
        padding-top: 5rem;
        padding-bottom: 2rem;
    }

    .container {
        @include media-breakpoint-up(xl) {
            max-width: 1470px;
        }
        @include media-breakpoint-up(lg) {
            .col-6 {margin-bottom: $spacer * 14}
        }
        @include media-breakpoint-down(md) {
            .col-6 {
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center !important;
            }
        }
    }

    .section-header {
        font-size: $display4-size;
        font-weight: $font-weight-extra-bold;

        @include media-breakpoint-up(lg) {
            font-size: $display1-size;
            font-weight: $font-weight-black;
        }
    }

    .sub-header {
        display: inline-block;
        position: relative;
        .header-sep {
            position: absolute;
            top: 12px; left: -50px;
        }
        @include media-breakpoint-down(md) {
            font-size: $h5-font-size;
        }
    }

    .organic-shape {
        z-index: -1;
        top: 0; left: 0;
        position: absolute;
        width: 100%; height: 100%;
        user-select: none;
        @include media-breakpoint-down(md) {
            overflow: hidden;
        }
    }
}

.organic-shape {
    span {
        display: block;
        position: absolute;
        // background-size: 100%;
        // background-position: center;
        // background-repeat: no-repeat;
        // background-color: transparent;
    }

    // SIZE & DIMENSIONS
    .organic-shape-base  {z-index: 1; width:1157px; height:946px; left: calc(50% - 196px); top:  -92px;}
    .organic-shape-image {z-index: 2; width:1050px; height:945px; left: calc(50% + 45px) ; top: -115px;}
    .organic-shape-sm1   {z-index: 2; width: 995px; height:897px;right: calc(50% + 440px); bottom: -434px;}
    .organic-shape-sm2   {z-index: 1; width:1036px; height:677px;right: calc(50% + 400px); bottom: -330px;}
    // BG
    // .organic-shape-base  {background-image: url("/img/home/organic-shape-base.png")}
    // .organic-shape-image {background-image: url("/img/home/organic-shape-image-min.png")}
    // .organic-shape-sm1   {background-image: url("/img/home/organic-shape-sm1.png")}
    // .organic-shape-sm2   {background-image: url("/img/home/organic-shape-sm2.png")}

    @include media-breakpoint-down(md) {
        .organic-shape-image {display: none;}
    }
}
