// BANNER
// --
.section-hero {
    z-index: 1;
    position: relative;

    @include media-breakpoint-down(md) {
        padding-top: 5rem;
        padding-bottom: 2rem;
    }

    .container {
        @include media-breakpoint-up(xl) {
            max-width: 1470px;
        }
        @include media-breakpoint-up(lg) {
            .col-6 {margin-bottom: $spacer * 14}
        }
        @include media-breakpoint-down(md) {
            .col-6 {
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center !important;
            }
        }
    }

    .section-header {
        position: relative;
        font-size: $display4-size;
        font-weight: $font-weight-extra-bold;

        @include media-breakpoint-up(lg) {
            font-size: $display1-size;
            font-weight: $font-weight-black;
        }
    }

    .sub-header {
        display: inline-block;
        position: relative;
        .header-sep {
            position: absolute;
            top: 12px; left: -50px;
        }
        @include media-breakpoint-down(md) {
            font-size: $h5-font-size;
        }
    }

    .organic-shape {
        z-index: -1;
        top: 0; left: 0;
        position: absolute;
        width: 100%; height: 100%;
        user-select: none;
        @include media-breakpoint-down(md) {
            overflow: hidden;
        }
    }
}

.organic-shape {

    span { display: block;
        position: absolute;
        transform-origin: 50% 50%;
        transform-style: preserve-3d;
        perspective: 1000px;
    }

    // SIZE & DIMENSIONS
    .organic-shape-base  {z-index: 1; width:1157px; height:946px; left: calc(50% - 196px); top:  -92px;}
    .organic-shape-image {z-index: 2; width:1050px; height:945px; left: calc(50% + 45px) ; top: -115px;}
    .organic-shape-sm1   {z-index: 2; width: 995px; height:897px;right: calc(50% + 440px); bottom: -434px;}
    .organic-shape-sm2   {z-index: 1; width:1036px; height:677px;right: calc(50% + 400px); bottom: -330px;}
    .organic-shape-base, .organic-shape-sm1, .organic-shape-sm2 {
        animation: fadeIn $base-duration $base-timing-function-in-out,
                   movement-2 10s ease-in-out infinite both;
    }

    @include media-breakpoint-down(md) {
        .organic-shape-image {display: none;}
    }
}

.animated-blob {
    top: -140px; right: 46%;
    width: 1156px; height: 1000px;
    background: linear-gradient(
        270deg, rgba($white,0.25), rgba($white,0.5)
    );
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    perspective: 1000px;
    animation:
        transform 40s ease-in-out infinite both alternate,
         movement 30s ease-in-out infinite both,
            shade 50s linear infinite both;
}

@keyframes transform {
    0%,100% {border-radius:63% 37% 54% 46% / 55% 48% 52% 45%}
        14% {border-radius:40% 60% 54% 46% / 49% 60% 40% 51%}
        28% {border-radius:54% 46% 38% 62% / 49% 70% 30% 51%}
        42% {border-radius:61% 39% 55% 45% / 61% 38% 62% 39%}
        56% {border-radius:61% 39% 67% 33% / 70% 50% 50% 30%}
        70% {border-radius:50% 50% 34% 66% / 56% 68% 32% 44%}
        84% {border-radius:46% 54% 50% 50% / 35% 61% 39% 65%}
}

@keyframes movement {
    0%,100% {transform: none}
        50% {transform: translateY(20%) rotateY(10deg)}
}

@keyframes movement-2 {
    0%,100% {transform: none}
        50% {transform: translateY(10px) rotateY(10deg)}
}

@keyframes shade {
    0%,100% {background-position: 0% 50%}
        50% {background-position: 100% 50%}
}

// TEXT GLITCH FX
// .section-hero .section-header {
//     &:after, &:before {
//         content: attr(data-text);
//         color: $headings-color;
//         position: absolute; top: 0;
//         overflow: hidden;
//         clip: rect(0, 900px, 0, 0);
//     }
//     &:after {left: 2px;
//         text-shadow: -1px 0 red;
//         animation: noise-anim 2s infinite linear alternate-reverse;
//     }
//     &:before {left: -2px;
//         text-shadow: 1px 0 blue;
//         animation: noise-anim-2 3s infinite linear alternate-reverse;
//     }
// }
// @keyframes noise-anim {
//     $steps: 20;
//     @for $i from 0 through $steps {
//         #{percentage($i*(1/$steps))} {
//             clip: rect(random(100)+px, 9999px, random(100)+px, 0)}
//     }
// }
// @keyframes noise-anim-2 {
//     $steps: 20;
//     @for $i from 0 through $steps {
//         #{percentage($i*(1/$steps))} {
//             clip: rect(random(100)+px, 9999px, random(100)+px, 0)}
//     }
// }
