.home {
    .btn {
        min-width: 12.5rem; //200px
    }
}

#prometheus {
    background: $white url("/img/home/section-prometheus-bg.png") center no-repeat;
    
    @include media-breakpoint-up(lg) {
        min-height: 900px;
        background-position: center 70%;
    }

    .container {
        display: flex;
        align-items: center;
        position: relative;

        @include media-breakpoint-up(xl) {
            height: 50vh;
            max-width: 1200px;
        }
        @include media-breakpoint-down(md) {
            .col, [class*="col-"] {
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center;
            }
        }
    }

    .illustrations {
        position: static;
        img {
            position: absolute;
            left: calc(50% - 30px);
            top: -10%;
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }
}

#prometheusFeatures {
    text-align: center;
    @include media-breakpoint-up(lg) {
        min-height: 80vh;
    }

    .heading {
        margin: 2rem auto 1.5rem;
    }

    p {padding: 0 ($grid-gutter-width / 3)}

    @include media-breakpoint-down(sm) {
        .col, [class*="col-"] {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

#products {
    padding: 0; 
    font-size: 0;
    position: relative;
    background-color: $white;

    > .background {
        svg {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    > .background-top {margin-top: -1px}
    > .background-btm {margin-bottom: -1px}
}

#requestDemo {
    margin-top: -#{$spacer * 12};
}
.email-request-demo {
    padding: 2rem;
    border-radius: 2.5rem; // 40px
    // @include gradient-directional($cyan, $primary, 45deg);
    background-image: url(/img/brand/prom-logo.png), linear-gradient(45deg, #04A2D7 25%, $cyan, $primary);
    background-repeat: no-repeat, repeat-x;
    background-position: -100px -30px, 0 0;
    position: relative;
    
    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 2.5rem; // 40px
        background-repeat: repeat-x;
        background-image: linear-gradient(90deg, rgba(#04A2D7,0.8), rgba($cyan,0), rgba($primary,0));
        top: 0; right: 0; bottom: 0; left: 0;
    }

    &:after {
        z-index: -1;
        top: 3rem; right: 2rem; left: 2rem;
        background-image: linear-gradient(45deg, #04A2D7 25%, $cyan, $primary);
        filter: blur(30px);
    }

    [class*="col-"] {
        z-index: 1;
    }

    .section-header {
        line-height: 1;
        font-size: $h1-font-size - 0.125; // 38px
    }

    .input-group {
        background-color: rgba(#0491C8,0.5);
        border-radius: 2rem;
    }

    .input-group-text,
    .form-control {
        border: 0;
        font-size: $font-size-lg;
        background-color: transparent;
    }

    .input-group-text {
        color: $white;
        padding-left: 1.5rem;
        border-radius: 2rem 0 0 2rem;
    }
    .form-control {
        color: $white;
        height: auto;
        line-height: $input-line-height-lg;
        &::placeholder {color:rgba($white, 0.6)}
    }
    .btn {
        border: 0;
        box-shadow: none;
        min-width: 220px;
        border-radius: 2rem !important;
        padding-right: $grid-gutter-width * 2;
        
        .data-icon {
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            position: absolute;
            top: 6px; right: 6px; 
            background-color: $gray-200;
            border-radius: 50%;
        }
    }
    .input-group-text,
    .form-control, .btn {
        padding-top: $input-btn-padding-x-lg;
        padding-bottom: $input-btn-padding-x-lg;
    }
}

#templates {
    .container {
        @include media-breakpoint-up(lg) {
            max-width: 1000px;
        }
        [class*="col-"]:nth-child(2n + 2) {
            margin-top: $spacer * 4;
        }
    }

    .figure-caption {
        color: $headings-color;
    }
}
